.course-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: flex-start; /* Align items to the top */
  margin-top: 20px; /* Adjust margin as needed */
  padding-bottom: 160px; /* Ensure there is enough space for the footer */
}

.image-column {
  flex: 1; /* Take up remaining space */
  text-align: center; /* Center contents horizontally */
}

.description-column {
  flex: 1; /* Take up remaining space */
  text-align: center; /* Center contents horizontally */
}

.paypal-buttons {
  margin-top: 20px; /* Add space above the buttons */
}

@media (max-width: 768px) {
  .course-container {
    flex-direction: column; /* Stack columns on small screens */
    align-items: center; /* Center items horizontally on small screens */
  }

  .image-column, .description-column {
    flex: 1; /* Take up full width on small screens */
    margin-left: 0; /* Reset margin */
    margin-top: 20px; /* Add space between stacked columns */
    text-align: center; /* Center contents on small screens */
  }
}
