.class-img {
    height: 250px;
    margin-top: 540px;
}

.two-row {
    text-align: center;
    margin-left: -530px;
    font-size: 23px;
}

.content-header {
    margin-top: 15px;
}

.other-row {
    margin-top: -901px;
    margin-left: 580px;
    text-align: center;
    font-size: 23px;
}