.grid-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row-gap: 20px;
    gap: 30px; 
    width: 400px; 
    margin: 0 auto; 
    margin-top: 50px;
    margin-left: 200px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding: 0 20x;
    max-width: 73%;
  }
  
  .grid-cell {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-top: 30px;
    /* height: 570px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .img-course {
    height: 300px;
    width: 300px;
  }

  .grid-container-wrapper {
    margin-top: 540px;
  }

  .header-small {
    text-align: center;
    font-size: 24px;
  }

  p {
    margin-top: 15px;
  }

  @media screen and (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
      gap: 30px; 
      width: 90%;
      max-width: 350px;
      margin: 0 auto;
    }

    .grid-cell {
      height: auto;
    }
  }