.main-online {
    margin-top: 500px;
    font-size: 32px;
    text-align: center;
}

.course-listing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.class-description {
    max-width: 900px;
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.class-description h1 {
    font-size: 42px;
}

.class-img {
    width: 350px;
    height: 350px;
}

.class-button {
    background-color: #357717;
    color: white;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    padding: 10px 70px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
    .class-img {
        margin-left: 40px;
    }

    .course-listing {
        margin-top: 50px;
    }

    .class-description {
        margin: 40px auto 0;
        max-width: 100%;
        text-align: left;
        margin-left: 50px;
        font-size: 14px;
    }

    .class-button {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .main-online {
        margin-top: calc(580px + 27px);
    }
}